<!DOCTTYPE html>
<html>
    <head>
    	<!--Bootstrap-->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>To Do List</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

	 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	 	<a href="/" class="navbar-brand">ToDo List App</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		</button>
	    <div class="collapse navbar-collapse" id="collapsibleNavbar">
	      <ul class="navbar-nav ml-auto	">
	        <li class="nav-item">
	         <a class="nav-link" href="/login">Login</a>
	        </li>
	       <li class="nav-item">
	         <a class="nav-link" href="/register">Signup</a>
	       </li>
	       <li class="nav-item">
	         <a class="nav-link" href="/logout">Logout</a>
	       </li>
	      </ul>
	   	  	</div>
	</nav>


	   
 