<% include partials/header %>
<h1>edit <%= showToDo.toDo %>
</h1>


<form action="/list/<%=showToDo._id%>?_method=PUT" method="POST">
	<input type="text" name ="todo[toDo]" value="<%= showToDo.toDo%>">
	<button>Submit</button>
</form>


<% include partials/footer %>