<% include partials/header %>
<h1> create new to do </h1>

<form action="/list" method="POST">
	<input type="text" name ="todo" placeholder="To do">
	<button>Submit</button>

</form>

<% include partials/footer %>